body{
    display: flex;
    background-color: coral;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid{
    width: 308px;
    height: 308px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 1px black;
}
.mole{
    background-image: url('mole.jpeg');
}